[submodule "apps"]
	path = apps
	url = https://github.com/felipeLx/react.git
[submodule "redux"]
	path = redux
	url = https://github.com/felipeLx/react.git
[submodule "courses"]
	path = courses
	url = https://github.com/felipeLx/react.git
