.Layout {
    background: rgb(202, 216, 10);
    border-radius: 0.5rem;

    font-family: Helvetica;
    justify-content: space-between;
  }
  
  .Layout--clear {
    border-color: #f53e3e;
  }
  
  .Layout--rain {
    border-color: rgb(30, 240, 187);
  }
  
  .Layout--cloud {
    border-color: rgb(94, 92, 92);  
  }
  
  .Layout--snow {
    border-color: #ffffff;  
  }

  .Layout__message-category {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-transform: capitalize;
  }
  
  .Layout__message-text {
    margin-bottom: 0;
  }
  
  .Layout__button {
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin-left: 1rem;
    opacity: 0.5;
    padding: 0;
  }